# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.env
.env.*
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Node/React (frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/build
/frontend/.env

# Logs
*.log

# MoviePy temp files
*.mp4
*.wav

# Other
*.sqlite3
*.db
*.bak
*.swp
*.tmp


# Ignore uploads and audios (if you don't want to track user files)
#uploads/
#audios/

# Ignore backend folder (if you want to exclude it from git)
backend/
/frontend/dataconnect-generated/js/default-connector/react/esm/index.esm.js
/frontend/dataconnect-generated/
